<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>テストメール</h1>
    <p><%= @user.name %> さん、</p>
    <p>これはColorMirrorからのテストメールです。</p>
    <p>もしこのメールが届いたら、SMTPの設定が正しく動作しています！</p>
    <p>それでは、良い一日を！</p>
  </body>
</html>
