<h1 class="bg-pink-400">test-test</h1>
<%# dviseのヘルパーでcurrent_userが使える %>
<%= current_user.id %>

<h1 class="bg-lime-200">デプロイtest</h1>
<% @tops.each do |user| %>
<p>User ID : <%= user.id %></p>
<% end %>
