<turbo-stream action="update" target="line-modal">
    <template>
    <div data-controller="modal" data-modal-target="modal">
      <%= render partial: "line_modal", formats: [:html] %>
    </div>
    </template>
</turbo-stream>
