<div class="flex justify-center items-center bg-gradient-diagonal mt-6 sm:p-8 p-4 max-w-5xl mx-auto rounded-md shadow-lg">
  <div id="profile" class="card w-80 md:w-96 bg-glass neumorphism shadow-xl">
    <figure class="px-10 pt-10">
      <div class="avatar">
        <div class="w-24 rounded-full border-4 mx-auto mt-4">
        </div>
      </div>

    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title"><%= current_user.name %></h2>
      <p class="text-base-content text-opacity-70">
        <%= current_user.email %>
      </p>
      <div class="card-actions">
        <%= link_to "ユーザー情報を編集する", edit_user_path, class: "text-base-content btn bg-glass", data: { turbo_stream: true } %>
      </div>
    </div>
    <div class="flex justify-end pr-5 pb-4">
      <%= link_to "アカウント削除", user_registration_path, class: "text-base-content btn btn-error btn-sm bg-opacity-90", data: { turbo_method: :delete, turbo_confirm: "本当にアカウントを削除しますか" } %>
    </div>
  </div>
</div>
<div id="edit-modal" data-controller="modal" data-modal-target="modal"></div>
