  <div class="flex-none mr-8 relative z-50">
    <div class="drawer drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- ドロワーメニューの開閉ボタン -->
        <label for="my-drawer-4" id="glass-drawer-toggle" class="drawer-button btn btn-ghost p-3 bg-white/10 backdrop-blur-md text-white rounded-full shadow-lg">
          <i class="fa-solid fa-ellipsis-vertical text-3xl md:text-xl"></i>
        </label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul id="glass-drawer-menu" class="menu min-h-full max-w-md w-full p-4 bg-white/30 backdrop-blur-md shadow-lg transform -translate-x-full transition-transform mt-16 space-y-4 text-white">
          <!-- Sidebar content here -->
              <% if user_signed_in? %>
              <div class="flex items-center gap-x-4">
                <span class="w-10 h-10 flex items-center justify-center">
                  <i class="fa-solid fa-right-from-bracket text-2xl font-bold"></i>
                </span>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:"hover:bg-white/20" %>
                </li>
              </div>
              <div class="flex items-center gap-x-4 justify-start border-solid border-b-2 border-bg-white/30 pb-2">
                <span class="w-10 h-10 flex items-center justify-center">
                  <i class="fa-solid fa-house-laptop text-2xl font-bold"></i>
                </span>
                  <li><%= link_to "マイページ", profile_users_path, class:"hover:bg-white/20" %></li>
              </div>
              <div class="flex items-center gap-x-4 justify-start">
                <span class="w-10 h-10 flex items-center justify-center">
                  <i class="fa-solid fa-chart-simple block text-2xl w-10 h-10 font-bold"></i>
                </span>
                  <li><%= link_to "振り返り", analysis_results_path, class:"hover:bg-white/20" %></li>
              </div>
              <% end %>
              <div class="flex items-center gap-x-4 justify-start">
                <i class="fa-solid fa-user-lock block text-2xl w-10 h-10 font-bold"></i>
                  <li><a href="" class="hover:bg-white/20">プライバシーポリシー</a></li>
              </div>
              <div class="flex items-center gap-x-4 justify-start">
                  <i class="fa-solid fa-lock block text-2xl w-10 h-10 font-bold"></i>
                  <li><a href="" class="hover:bg-white/20">利用規約</a></li>
              </div>
              <div class="flex items-center gap-x-4 justify-start">
                  <i class="fa-regular fa-envelope block text-2xl w-10 h-10 font-bold"></i>
                  <li><a href="" class="hover:bg-white/20">お問い合わせ</a></li>
              </div>

              <div class="flex flex-col items-center justify-center text-center border-solid border-t-2 border-bg-white/30 mt-2 pt-4">
                <p class="font-bold text-lg">©︎ 2025年 - ColorMirror</p>
                <div class="m-2">
                <a href=""class="mr-4">X</a>
                <a href="">GitHub</a>
                </div>
              </div>

        </ul>
      </div>
    </div>
  </div>
