<div class="btm-nav h-16">
  <%= link_to new_color_path, class: "no-underline text-primary" do %>
  <button class="text-primary flex flex-col items-center justify-center border-none primary-content">
    <i class="fa-solid fa-pencil fa-2xl p-4"></i>
    <span>記録する</span>
  </button>
  <% end %>
  <%= link_to colors_path, class: "no-underline text-primary" do %>
  <button class="text-primary flex flex-col items-center justify-center border-none primary-content">
      <i class="fa-solid fa-book fa-2xl p-4"></i>
      <span>見る</span>
  </button>
  <% end %>
  <%= link_to analysis_results_path, class: "no-underline text-primary" do %>
  <button class="text-primary flex flex-col items-center justify-center border-none primary-content">
  <i class="fa-solid fa-database fa-2xl p-4"></i>
  <span>振り返る（実装予定）</span>
  </button>
  <% end %>
  <%= link_to root_path, class: "no-underline text-primary" do %>
  <button class="text-primary flex flex-col items-center justify-center border-none primary-content">
  <i class="fa-brands fa-rocketchat fa-2xl p-4"></i>
  <span>chat bot(実装予定)</span>
  </button>
  <% end %>
</div>
