  <div class="w-full flex justify-center lg:items-center flex-col ">
    <div id="cal-heatmap" class=" overflow-scroll glass max-w-screen-lg w-full h-full p-4 mx-auto my-6 rounded-lg shadow-md"></div>
    <div class="flex items-center gap-4 mt-4 text-xs sm:text-sm mx-auto ">
        <div class="sm:w-4 w-2 sm:h-4 h-2 rounded bg-[#02f346]"></div><span>ホッと</span>
        <div class="sm:w-4 w-2 sm:h-4 h-2 rounded bg-[#FFD700]"></div><span>ワクワク</span>
        <div class="sm:w-4 w-2 sm:h-4 h-2 rounded bg-[#B3E5FC]"></div><span>その他</span>
        <div class="sm:w-4 w-2 sm:h-4 h-2 rounded bg-[#8888ff]"></div><span>モヤモヤ</span>
        <div class="sm:w-4 w-2 sm:h-4 h-2 rounded bg-[#DC143C]"></div><span>ムカムカ</span>
    </div>
</div>
