<div class="navbar bg-base-300 top-0 fixed w-full">
  <% if user_signed_in? %>
  <div class="flex-1">
    <%= link_to 'ColorMirror', colors_top_path, class: 'btn btn-ghost text-xl' %>
    <%= render "shared/drawer_menu" %>

  </div>
  <% else %>
  <div class="flex-1">
    <%= link_to 'ColorMirror', root_path, class: 'btn btn-ghost text-xl' %>
    <%= render "shared/before_menu" %>

  </div>
  <% end %>
</div>
