<div class="flex flex-col">
    <p class="text-center text-white tracking-wider text-xl animate-fade-in-text block my-4">現在地の環境を設定
      <span class="tooltip tooltip-left sm:tooltip-right custom-tooltip w-full" data-tip="居住都市を登録していれば天気情報は自動取得されます">
        <i class="fa-solid fa-circle-exclamation text-base-300 text-lg cursor-pointer z-20"></i>
      </span>
    </p>
    <%# お天気カードUI %>
    <div id="display-weather" class=""></div>
        <div class="flex items-center justify-center gap-6 my-4">
            <%= link_to "マイページで再設定", profile_users_path, class: "btn btn-secondary" %>
    </div>
</div>
