<h1 class="text-2xl">一覧画面</h1>
<h1 class="text-2xl">AI画面</h1>
<h1 class="text-2xl">API画面</h1>
<% @colors.each do |color| %>
<div class="flex">
    <h2 class="">私が今日選択した色は:</h2>
    <div class="<%= color_class(color.color_name) %> rounded-full w-10 h-10 m-10"></div>
</div>
<% end %>
<%= render 'shared/response' %>
