
<% @colors.each do |color| %>
<div class="">
    <h2 class="">私が今日選択した色は:</h2>
    <div class="<%= color_class(color.color_name) %> rounded-full w-10 h-10 m-10"></div>
</div>
<% end %>
<%= render 'shared/response' %>
