<div class="w-full flex lg:items-center flex-col sm:py-4 py-2 h-fit">
    <div class="font-bold text-xl"><%= current_user&.name.presence || "ゲスト" %>さんのLogです</div>
    <%= render "shared/heatmap" %>
    </div>
</div>
