<div data-controller="modal" data-modal-target="modal" data-action="click->modal#close" class="flex items-center justify-center sm:p-8 p-4 fixed inset-0 bg-black bg-opacity-50 z-20">
  <div class="flex items-center justify-center bg-gradient-diagonal rounded-xl shadow-lg sm:p-8 p-3 relative sm:max-w-3xl w-full">
    <div class="glass sm:p-8 p-4 m-4 sm:w-full max-w-md text-center">

      <h2 class="sm:text-3xl text-lg font-bold text-gray-800 mb-6">パスワードの再設定</h2>
      <%= form_with model: resource, url: password_path(resource_name) do |f| %>
        <div class="mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "input-field p-2 w-full rounded-full focus:outline-none focus:shadow-md", placeholder: "メールアドレス" %>
        </div>
        <div class="sm:mt-4 mt-2">
          <%= f.submit "送信", class: "btn bg-white opacity-70 w-full rounded-full py-3 sm:text-lg text:md" %>
        </div>
      <% end %>
      
    </div>
      <button type="button" data-action="click->modal#close" class="text-gray-500 hover:scale-125 sm:text-3xl text-lg absolute top-0 right-0 sm:p-4 p-2 z-20">
        ✖️
      </button>
  </div>
</div>
