<turbo-stream action="update" target="password-reset-modal">
  <template>
    <div data-controller="modal" data-modal-target="modal">
      <%= render partial: "password_form", formats: [:html], locals: { resource: resource } %>
    </div>
  </template>
</turbo-stream>
