@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    border-radius: 5px;
    padding: 16px 24px;
    margin: 16px 0px;
  }

  .alert-success {
    background-color: #bcdfff;
    color: #0067C0;
    border: solid 1px #0067C0;
  }

  .alert-danger {
    background-color: #ffd4d1;
    color: #930403;
    border: solid 1px #930403;
  }

  input:-webkit-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    border: none;
  }

  @layer utilities {
    .rotate-y-180 {
      transform: rotateY(180deg);
    }

    .preserve-3d {
      transform-style: preserve-3d;
    }

    .transform-style {
      transform-style: preserve-3d;
    }

    .flip-card-inner {
      transition: transform 0.3s ease-in-out;
      transform-style: preserve-3d;
    }

    .flip-card-front, .flip-card-back {
      backface-visibility: hidden;
    }

    .flip-card-back {
      transform: rotateY(180deg);
    }

    .perspective {
      perspective: 1000px;
    }

    .flipped .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
