<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorMirror - メール認証</title>
    <style>
        body {
            background-color: #f4f7fc;
            font-family: Arial, sans-serif;
            color: #333;
            text-align: center;
            padding: 20px;
        }
        .container {
            background: white;
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.4);
            text-align: center;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #0067C0;
        }
        .button {
            display: inline-block;
            background-color: #0067C0;
            color: #ffff ;
            padding: 12px 24px;
            margin-top: 20px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0px 4px 6px rgba(0, 103, 192, 0.3);
        }
        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">ColorMirror</div>
        <h2>メールアドレスを確認してください</h2>
        <p>こんにちは <strong><%= @resource.name %></strong> さん。</p>
        <h3>ColorMirror をご利用いただきありがとうございます！！</h3>
        <p>パスワードをリセットする場合は下記リンクより変更してください。</p>
        <%= link_to t(".Change my password"), edit_password_url(@resource, reset_password_token: @token), class:"button" %>
        <p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
        <div class="footer">
            <p>このメールに心当たりがない場合は、無視してください。</p>
            <p>© 2025 ColorMirror. All rights reserved.</p>
        </div>
    </div>


    <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

</body>
</html>
